.overview {
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 50px;
    padding: 50px 30px 0 30px;
}

.tile {
    height: inherit;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
    justify-items: flex-end;
}

.pic {
    object-fit: contain;
    height: 200px;
}

.tag {
    height: 100%;
    margin: 2px 0 0 0;
}

.tag .name {
    font-weight: bolder;
    font-size: 20px;
    height: 50px;
}

.tag .price {
    font-size: 18px;
}