.overview {
    min-width: 850px;
}

.center {
    justify-items: flex-end;
    text-align: center;
    padding-bottom: 30px;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    width: 80%;
}

.side {
    width: 10%;
    min-width: 120px;
    text-align: right;
}

.logo {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 80%;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .overview {
        min-width: 0;
    }
    .logo {
        height: 30vmin;
        width: auto;
    }
    .buttons {
        max-width: min-content;
    }
}