.center {
    min-height: 15px;
    line-height: 15px;
    text-align: center;
    color: tomato;
    background-color: transparent;
    width: 100vw;
    margin: 0 5px;
    padding-bottom: 30px;
}

.center .cart {
    justify-items: flex-end;
    text-align: end;
    margin-top: -48px;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    .logo {
        height: 23vmin;
        width: auto;
    }
}

.overhead {
    width: 20px;
}