.center {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 25vmin;
  padding-top: 90px;
  pointer-events: none;
}
