.footer {
    position: absolute;
    left: 0; bottom:0; right:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25px;
}

ul {
    width: auto;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    color: black;
}

li {
    padding: 3px;
    float: left;
    display: block;
    cursor: pointer;
}

a:hover {
    color: tomato;
    transition: 0.15s ease-out;
}

