.logo {
    height: 15vmin;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    pointer-events: none;
}

.img {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    margin: auto;
    border: solid 2px #ffffff;
    top: 0; left: 0; bottom: 0; right: 0;
    object-fit: cover;
    border-radius: 50%;
}

.vinyl {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 60vmin; height: 60vmin;
    border-radius: 50%;
    border: solid 4px #000000;
    background: 
      linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
      linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 40%) no-repeat 0 100%,
      repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
    background-size: 50% 100%, 100% 50%, 100% 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .vinyl {
    animation: vinyl-spin infinite 20s linear;
  }
}

@keyframes vinyl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}